<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<div class="container head1">
  <h1>My Quotes</h1>
</div>
<div class="container-fluid div2">
  <div class="row">
    <div class="col -sm -12 col-md-6">
      <h3 class="text-center">QUOTES</h3>
      <div class="mt-5 font-italic" *ngFor="let quote of quotes; let i = index" >
        <div>
          <h4 (click)="toggleDetails(i)"><i class="fas  fa-quote-left"></i><a href="#" style ="color:black"> {{ quote.quotename }} </a><i class="fas  fa-quote-right"></i></h4>
          <!-- <button (click)="toggleDetails(i)" class="btn btn-success">
            Toggle Details
          </button> -->
        </div>
        <div *ngIf="quote.showDetails">
         <p class = "text-center"><i  class="far fa-thumbs-up" (click)='upvoteFunc(i)' (click)='mostUpvotes()' ></i> <i style=" color:crimson;   text-indent: 5em;" class="far fa-thumbs-down" (click)='downvoteFunc(i)' ></i></p>
          <app-quotedetails [quote] = 'quote' (isDeleted)='deleteQuote($event,i)'></app-quotedetails>
        </div>
      </div>
    </div>
        
    <div class="col-md-1"></div>
    <div class="col -sm -12 col-md-5">
      <h3 class="text-center">ADD QUOTE</h3>
      <app-quoteform  (addQuote)='addNewQuote($event)'></app-quoteform>
    </div>
  
</div>
<div class=" container div3">
  <h2 style="font-family: 'K2D', sans-serif; color: rgb(210, 66, 30); font-weight: bold;" class="text-center">Highly Upvoted Quote</h2>
  <div *ngFor="let highUpvote of highUpvotes ;let i=index" appHighlight>
      <div>
          <h4><i class="fas  fa-quote-left"></i> {{highUpvote.quotename}} <i class="fas  fa-quote-right"></i></h4>
      </div>
      <div>
        <hr>
        <p class="span1">Author: {{ highUpvote.author }} </p>
        <p class="span1">Posted by: {{ highUpvote.person }}</p>
        <p class="span1">Upvotes: {{ highUpvote.upvote }}</p>
        <hr/>
      </div>
    </div>
  </div><br>
</div>