<div class="container head1">
  <h1>My Quotes</h1>
</div>
<div class="container div2">
  <div class="row">
    <div class="col -sm -12 col-md-6">
      <h3 class="text-center">QUOTES</h3>
      <ul *ngFor="let quote of quotes">
        <li>
          {{ quote.quotename }} <br/>
          <span class="span1">Author: {{ quote.author }}</span> <br/>
          <span class="span1">Posted by: {{ quote.person }}</span><br/>
          <span class="span1">Upvotes: {{ quote.upvote }}</span><br>
          <span class="span1">Downvotes: {{ quote.downvote }}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col -sm -12 col-md-5">
      <h3 class="text-center">ADD QUOTE</h3>
      <app-quoteform >(addquote)="addNewQuote($event)"></app-quoteform>
    </div>
  </div>
</div>
